accelerate==0.22.0
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
altair==5.1.1
anyio==3.7.1
asgiref==3.7.2
asttokens==2.2.1
async-timeout==4.0.2
asyncer==0.0.2
attrs==23.1.0
auth0-python==4.4.2
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.11.1
bidict==0.22.1
bitsandbytes==0.41.1
bitsandbytes-cuda117==0.26.0.post2
blis==0.7.9
bs4==0.0.1
CacheControl==0.12.11
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.6.15
cffi==1.15.1
chainlit==0.6.402
charset-normalizer==2.1.1
chroma-hnswlib==0.7.2
chromadb==0.4.9
click==8.1.3
colorama==0.4.6
colored==1.4.4
coloredlogs==15.0.1
comm==0.1.3
confection==0.0.3
contourpy==1.1.0
cryptography==41.0.3
ctransformers==0.2.27
cycler==0.11.0
cymem==2.0.7
dataclasses-json==0.5.14
datasets==2.14.5
debugpy==1.6.7
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.7
Django==4.2.4
django-extensions==3.2.3
django-multiselectfield==0.1.12
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.4.0/es_core_news_sm-3.4.0-py3-none-any.whl
exceptiongroup==1.1.3
executing==1.2.0
ez-setup==0.9
faiss-cpu==1.7.4
fastapi==0.99.1
fastapi-socketio==0.0.10
ffmpy==0.3.1
filelock==3.12.2
filetype==1.2.0
firebase-admin==6.1.0
flatbuffers==23.5.26
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.6.0
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.18.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
gradio==3.43.2
gradio_client==0.5.0
greenlet==2.0.2
grpcio==1.54.0
grpcio-status==1.54.0
h11==0.14.0
html5lib==1.1
httpcore==0.17.3
httplib2==0.22.0
httptools==0.6.0
httpx==0.24.1
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
InstructorEmbedding==1.0.1
ipykernel==6.22.0
ipython==8.12.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter_client==8.2.0
jupyter_core==5.3.0
kiwisolver==1.4.5
langchain==0.0.266
langcodes==3.3.0
langsmith==0.0.24
Lazify==0.4.0
loralib==0.1.2
lxml==4.9.1
MarkupSafe==2.1.1
marshmallow==3.20.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.9
mypy-extensions==1.0.0
mysql-connector-python==8.0.32
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
nodeenv==1.8.0
numexpr==2.8.5
numpy==1.23.1
onnxruntime==1.15.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
opentelemetry-api==1.19.0
opentelemetry-exporter-otlp==1.19.0
opentelemetry-exporter-otlp-proto-common==1.19.0
opentelemetry-exporter-otlp-proto-grpc==1.19.0
opentelemetry-exporter-otlp-proto-http==1.19.0
opentelemetry-instrumentation==0.40b0
opentelemetry-proto==1.19.0
opentelemetry-sdk==1.19.0
opentelemetry-semantic-conventions==0.40b0
orjson==3.9.7
overrides==7.4.0
packaging==23.1
pandas==1.4.3
parso==0.8.3
pathy==0.6.2
peft @ git+https://github.com/huggingface/peft@0fa63fb4a21bf88777b2469892b76a6e096753e8
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.2.0
plotly==5.17.0
posthog==3.0.2
preshed==3.0.8
prisma==0.10.0
prompt-toolkit==3.0.38
proto-plus==1.22.2
protobuf==4.23.0
psutil==5.9.5
pulsar-client==3.3.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.12
pydub==0.25.1
Pygments==2.15.1
PyJWT==2.8.0
PyMuPDF==1.22.5
pyogrio==0.4.1
pyOpenSSL==23.2.0
pyparsing==3.0.9
pypdf==3.16.0
PyPDF2==3.0.1
PyPika==0.48.9
pyreadline3==3.4.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.7.0
python-graphql-client==0.4.3
python-multipart==0.0.6
python-socketio==5.9.0
pytz==2022.2.1
pywin32==300
PyYAML==6.0.1
pyzmq==25.0.2
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
rpds-py==0.10.2
rsa==4.9
safetensors==0.3.2
scikit-learn==1.3.0
scipy==1.11.1
semantic-version==2.10.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
Shapely==1.8.2
six==1.16.0
smart-open==5.2.1
sniffio==1.3.0
soupsieve==2.3.2.post1
spacy==3.4.3
spacy-legacy==3.0.10
spacy-loggers==1.0.3
SQLAlchemy==2.0.20
sqlparse==0.4.4
srsly==2.4.5
stack-data==0.6.2
starlette==0.27.0
sympy==1.12
syncer==2.0.3
tabulate==0.9.0
tenacity==8.2.3
thinc==8.1.5
threadpoolctl==3.2.0
tiktoken==0.4.0
tokenizers==0.13.3
tomli==2.0.1
tomlkit==0.12.1
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3
tqdm==4.66.1
traitlets==5.9.0
transformers @ git+https://github.com/huggingface/transformers@95b374952dc27d8511541d6f5a4e22c9ec11fb24
typer==0.7.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
uptrace==1.19.0
uritemplate==4.1.1
urllib3==1.26.12
uvicorn==0.23.2
wasabi==0.10.1
watchfiles==0.20.0
wcwidth==0.2.6
webencodings==0.5.1
websockets==11.0.3
wrapt==1.15.0
xxhash==3.3.0
yarl==1.9.2
zipp==3.16.2
